[#ftl]
<!doctype html>
<html>
[@index.head title="首页"/]
<style>
#moveWindow {
	background:url("${base}/static/images/notice.png") no-repeat center center;
    width: 320px;
    height: 180px;
    left: 0;
    top: 0;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    z-index:1000;
}

</style>

<body>
[#--
	<div id="moveWindow"></div>
	<div id="noticeDetail" style="display:none;">
		<div style="line-height:2em;color:#999;padding:5px 10px;">
			<p style="text-indent: 2em;">一、根据上海市教委的要求，学校2月底前不开学，具体时间和返校安排将按疫情防控需要，由上级部门统一部署，学校会及时提前通知，请大家继续严格做好各项防护事宜，密切关注有关信息。</p>
			<p style="text-indent: 2em;">二、受推迟开学影响的春季学期各门课程将通过自主学习和在线教学方式开展，目前学校正在积极准备之中，老师们已经开始按要求着手制定有关教学方案，分阶段完成学习资源建设工作。在线教学正式开始时间也将由上级部门统一安排，学校会在2月底前后陆续发布课程教学安排的有关通知。</p>
			<p style="text-indent: 2em;">三、请各位同学关注好学校主页、教务选课管理系统及课程中心网站的有关信息。</p>
			<p style="text-indent: 2em;">希望大家面对挑战，更加坚定信心、同舟共济，学习发扬奋斗在战“疫”一线的各位中医人大爱济世的精神情怀，以最佳的心身状态，通力配合做好各项开学前的准备工作！</p>
			<p style="text-align:right;">谢谢大家的支持！</p>
		</div>
	</div>
    <script>
        let moveWindow = document.getElementById('moveWindow');
        let speedX = 2,speedY = 1;
 
        //水平方向运动最大值
        let maxL = document.documentElement.clientWidth - moveWindow.offsetWidth;
        let maxT = document.documentElement.clientHeight - moveWindow.offsetHeight;
        
        let timer = null;
 
        moveWindow.onmouseenter = function () {
            clearInterval(timer);
        };
        moveWindow.onmouseleave = function () {
            autoMove();
        };
        autoMove();    
        function autoMove(){
            timer = setInterval(() => {
                let 
                nextX = moveWindow.offsetLeft + speedX;
                nextY = moveWindow.offsetTop + speedY;
 
                 //左侧边界
                 if(nextX <= 0) {
                    nextX = 0;
                    speedX *= -1;
                }
 
                 //上侧边界
                 if(nextY <= 0) {
                    nextY = 0;
                    speedY *= -1;
                }
 
                //右侧边界
                if(nextX >= maxL) {
                    nextX = maxL;
                    speedX *= -1;
                }
 
                 //底侧边界
                 if(nextY >= maxT) {
                    nextY = maxT;
                    speedY *= -1;
                }
                 moveWindow.style.left = nextX + 'px';
                 moveWindow.style.top = nextY + 'px';
                
            },50);
        }
        $(function(){
        	$("#moveWindow").click(function(){
            	layer.open({
            		title: '自主学习与在线教学友情提示',
            		type: 1,
            		skin: 'layui-layer-rim', //加上边框
            		area: ['500px', '500px'], //宽高
            		content: $("#noticeDetail").html()
            	});
            });
        });
        
        
    </script>
    --]
	[@index.banner/]
	<div class="layui-carousel" id="test1" lay-filter="test1">
		<div carousel-item="">
			[@jdao.hql("from RecommendCourse where isOpen = true")]
			[#if item.courseOnline??]
			<a href="${base}/site/course/package.shtml?course_id=${item.courseOnline.id}" target="_blank"
				style="background: url(${base}/datas/thumb/PathFile/${item.banner}/0/0) center center"></a>
				[#else]
			<a href="${base}${item.path!}" target="_blank" style="background: url(${base}/datas/thumb/PathFile/${item.banner!}/0/0) center center"></a>
			[/#if]
			[/@]
		</div>
	</div>
	<div class="index_list_bg_fff" style="padding:20px 0;">
		<div style="width:1280px;margin:0 auto;padding:5px;" class="_flex">
			<div style="width:70%;">
				<div class="news-list">
					<div class="header clearfix">
						[@jdao.hql("from SiteCatalog where siteInfo.code = 'school_study' and code = 'Notice'") var="catalog"]
						<h4 class="catalog_title">${catalog.title!}</h4>
						<a class="more" href="${base}/web/${catalog.id}/list.jhtml">更多</a>
						[/@]
					</div>
					<div clas="clearfix">
						<div class="layui-carousel pull-left" id="hotNews" style="width:50%;" lay-filter="hotNews">
							<div carousel-item="">
								[@jdao.hql(" from SitePage where pageType = 'HOT' and siteCatalog.siteInfo.code = 'school_study' order by publishTime desc")]
								[#if item.image??]
								<a href="${base}/web/${item.id}/page.jhtml" target="_blank" style="background: url(${base}/datas/thumb/PathFile/${item.image}/0/0) top center" style="position:relative;">
									<div style="position:absolute;background-color:#000;width:100%;color:#fff;text-align:center;left:0;bottom:0;padding:5px;opacity: 0.8;">${jus.cutstr(item.title,25,"...")}</div>
								</a>
								[#else]
								<a href="${base}/web/${item.id}/page.jhtml" target="_blank" style="background: url(${base}/static/images/zwtp-1.jpg) top center" style="position:relative;">
									<div style="position:absolute;background-color:#000;width:100%;color:#fff;text-align:center;left:0;bottom:0;padding:5px;opacity: 0.8;">${jus.cutstr(item.title,25,"...")}</div>
								</a>
								[/#if]
								[/@]
							</div>
						</div>
						<div class="pull-right" style="width:49%;padding:0 5px;">
							<ul class="content">
							[@jdao.hql(" from SitePage where siteCatalog.code = 'Notice' and siteCatalog.siteInfo.code = 'school_study' order by publishTime desc")]
			              	<li class="items">
			              		<span class="page_title"><a href="${base}/web/${item.id}/page.jhtml" target="_blank" title="${item.title!}">${jus.cutstr(item.title,25,"...")}</a></span>
			              	</li>
			              	[/@]
			            </ul>
						</div>
					</div>
				</div>
			</div>
			<div style="background-color:#f6f5f3;" class="_item">
				<div class="news-list" style="margin-left:10px;">
					<div class="header clearfix">
						[@jdao.hql("from SiteCatalog where siteInfo.code = 'school_study' and code = 'Plan'") var="catalog"]
						<h4 class="catalog_title">${catalog.title!}</h4>
						<a class="more" href="${base}/web/${catalog.id}/list.jhtml">更多</a>
						[/@]
					</div>
					<ul class="content_2">
						[@jdao.hql(" from SitePage where siteCatalog.code = 'Plan' and siteCatalog.siteInfo.code = 'school_study' order by publishTime desc")]
	                    <li class="_flex">
	                    	<div class="rili">
	                     		<span class="date">${(jdata.date(item.publishTime)?string("dd"))!}</span>
	                        	<span class="month">${(jdata.date(item.publishTime)?string("yyyy-MM"))!}</span>
	                      	</div>
	                      	<div class="_item info">
	                      		<a href="${base}/web/${item.id}/page.jhtml" class="item" title="${item.title!}" target="_blank">${jus.cutstr(item.title,40,"...")}</a>
	                      	</div>
	                    </li>
	                    [/@]
	                </ul>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-container" style="width:1280px;">
		<div class="index_catalog clearfix">
			<div class="index_catalog_title_mooc">热门课程</div>
			<div class="index_catalog_title_line"></div>
			<div class="index_catalog_title_english">RECOMMENDED COURSE</div>
		</div>
		<div>
			<div class="layui-row layui-col-space10">
				[#assign prms={"status":true}]
				[#assign sort=["isHot desc", "clickNum desc"]]
				[@jdao.hmap("CourseOnline",prms,sort,[8,1]) var="item"]
				<div class="layui-col-md3">
					<div class="_course_list _mt10">
						<a href="${base}/site/course/index.shtml?course_id=${item.id}" target="_blank"><img
								src="${index.course_logo(item)}" width="100%" height="160"></a>
						<div class="_desc layui-clear">
							<p class="clearfix">
								<span class="_color999 pull-left">${jus.cutstr(item.name,10,"...")}</span>
								<span class="_color999 pull-right">热度：${item.clickNum!0}</span>
							</p>
							<p class="clearfix">
								<span class="_color999 pull-left">${(item.teacher.college.name)!}</span>
								<span class="_color999 pull-right">${(item.teacher.name)!}</span>
							</p>
						</div>
					</div>
				</div>
				[/@]
			</div>
		</div>
		
		<div class="index_catalog clearfix">
			<div class="index_catalog_title_site">热门课程网站</div>
			<div class="index_catalog_title_line"></div>
			<div class="index_catalog_title_english">RECOMMENDED SITE</div>
		</div>
		<div>
			<div class="layui-row layui-col-space10">
				[#assign prms={"removed":false,"online":true}]
				[#assign sort=["isHot desc", "clickNum desc"]]
				[@jdao.hmap("SiteWeb",prms,sort,[8,1]) var="course"]
				<div class="layui-col-md3 ">
					<a href="${base}/G2S/Template/View.aspx?courseId=${course.id!}&courseType=1&ZZWLOOKINGFOR=G&topMenuId=first&curfolid=0"
						target="_blank">
						<div class="_course_list _mt10">
							<img src="${base}/template/${(course.siteTemplate.templateName)!}/Template.gif"
								style="height: 200px" width="100%">
							<div class="_desc clearfix">
								<p class="clearfix">
									<span class="pull-left _color999">${jus.cutstr(course.webName!,10,"...")}</span>
									<span class="pull-right _color999">热度：${course.clickNum!}</span>
								</p>
								<p class="clearfix">
									<span class="pull-left _color999">${(course.teacher.college.name)!}</span>
									<span class="pull-right _color999">${(course.teacher.name)!}</span>
								</p>
							</div>
						</div>
					</a>
				</div>
				[/@]
			</div>
		</div>
	</div>
	[#--
	[@jcore.cache.ehcache name="index_course_teacher_order"]
	<div class="layui-container" style="width:1280px;">
		<div class="index_catalog clearfix">
			<div class="index_catalog_title_rank">热度排名</div>
			<div class="index_catalog_title_line"></div>
			<div class="index_catalog_title_english">STUDY TIME RANKING</div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6 _padding10" style="background-color:#EBEBEB">
				<table class="table1">
					<caption>课程学习时长排名</caption>
					<thead>
						<tr>
							<th width="60" style="text-align:center;">排名</th>
							<th>课程名称</th>
							<th width="150">主讲教师</th>
							<th width="150" style="text-align:center;">学生学习时长（小时）</th>
						</tr>
					</thead>
					<tbody>
						[@jdao.sql("
									select id,name
									,(select name from user_teacher where user_teacher.id=cco.teacher_id) as teacher
									,(select case when sum(study_time) is null then 0 else sum(study_time) end from
									crs_student_study_record where
									exists(select 1 from crs_content where
									crs_content.id=crs_student_study_record.content_id
									and exists (select 1 from crs_section where crs_content.section_id=crs_section.id
									and crs_section.course_online_id=cco.id) )
									) as studytime
									from crs_course_online as cco order by studytime desc limit 10
									") var="course"]
									<tr>
										<td style="text-align:center;">${(course_idx+1)}</td>
										<td>${course[1]}</td>
										<td>${course[2]}</td>
										<td style="text-align:center;">${(course[3]/3600000)?string("00")}</td>
									</tr>
									[/@]
					</tbody>
				</table>
			</div>
			<div class="layui-col-md6 _padding10" style="background-color:#DCDCDC">
				<table class="table1">
					<caption>教师作业布置排名</caption>
					<thead>
						<tr>
							<th width="60" style="text-align:center;">排名</th>
							<th>任课老师</th>
							<th width="150">所属部门</th>
							<th width="150" style="text-align:center;">作业任务布置</th>
						</tr>
					</thead>
					<tbody>
						[@jdao.sql("select id,name
									,(select name from sch_college where sch_college.id = teacher.college_id) as college
									,(select count(1) from LESSON_TASK ls left join lesson l on ls.lesson_id = l.id where l.T_ID = teacher.id) as task 
									from user_teacher as teacher order by task desc limit 10
									") var="teacher"]
									<tr>
										<td style="text-align:center;">${(teacher_idx+1)}</td>
										<td>${teacher[1]!}</td>
										<td>${teacher[2]!}</td>
										<td style="text-align:center;">${teacher[3]!}</td>
									</tr>
									[/@]
					</tbody>
				</table>
			</div>
		</div>
	</div>
	[/@]
	--]
	[@index.footer/]
</body>

</html>

<script type="text/javascript">
	layui.use(['carousel', 'form'], function () {
		var carousel = layui.carousel
			, form = layui.form;

		//常规轮播
		carousel.render({
			elem: '#test1'
			, width: '100%'
			, height: '450px'//设置容器高度
			, arrow: 'always'
		});

		carousel.render({
			elem: '#hotNews'
			, width: '50%'
			, height: '280px'//设置容器高度
			, arrow: 'always'
		});
	});
</script>